body{

font-family:Arial;
background:#6356b8;

}


.app{

max-width:800px;
margin:auto;
background:white;
min-height:100vh;

}


header{

background:#0565c9;
color:white;
padding:30px;
text-align:center;

}


.menu{

display:flex;
flex-wrap:wrap;

}


.menu button{

flex:1;
padding:15px;
border:1px solid #ddd;
cursor:pointer;

}


section{

padding:30px;

}


input,textarea{

width:90%;
padding:15px;
margin:10px;

font-size:16px;

}


textarea{

height:120px;

}



.hitung{

width:90%;
padding:15px;

background:#0565c9;
color:white;

border:0;

font-size:18px;

}



#hasil{

padding:20px;
text-align:center;

color:#0565c9;

}


canvas{

display:block;
margin:auto;

border:1px solid #ccc;

}


footer{

text-align:center;
padding:20px;

color:#777;

}